	@font-face {
                font-family:Montserrat-Regular;
                src: url(https://voublaa.github.io/res/font/Montserrat-Regular.ttf);
            }
            
        body {
		margin:0;
		height:100%;
		padding-bottom:30px;
		user-select: none; /* supported by Chrome and Opera */
       -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
       cursor: default;
       font-family:Montserrat-Regular;
       background-color:#FFFFFF;
       color:black;
       line-height:1.5;
		}
		
		.title {
			font-size:26px;
			font-weight:600;
			padding:15px;
			
			}
			
			.fixture {
				width:100%;
				text-align:center;
				line-height:4;
				
				}
		