@font-face {
                font-family:Montserrat-Regular;
                src: url(Montserrat-Regular.ttf);
            }
            
         html {
         	overflow-x:hidden;
         }
            
	body {
		margin:0;
		height:100%;
		padding-bottom:30px;
		user-select: none; /* supported by Chrome and Opera */
       -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
       cursor: default;
       font-family:Montserrat-Regular;
       background-color:#FFFFFF;
       color:black;
       line-height:1.5;
       overflow-x:hidden;
		}
		
		.body {
			width:100%;
			
			
			}
			
			.ongoing_ct {
				width:100%;
				height:100%;
				
				}
	
	.pes-ti {
		
		font-size:25px;
		margin-left:5px;
		}
	
	.title {
		width:100%;
		font-size:7px;
		
		padding-top:15px;
		padding-left:15px;
		}
		
		
	
	           .collection {
                width:100%;
                height:400px;
                transform:translateY(20px);
                display:flex;
                flex-wrap:wrap;
                margin-bottom:30px;
                
                
                
                }
                
                .collection_ct {
                width:250px;
                height:400px;
                box-shadow:1px 1px 5px #C2C6E8, -1px -1px 5px #C2C6E8;
                margin:20 auto;
                
                text-align:center;
                border-radius:15px;
                overflow:hidden;
                }
                
                .collection_ct_img {
                width:100%;
                height:170px;
                
                
                
                }
                
                .collection_ct_ti {
                width:100%;
                height:50px;
                margin-top:17px;
                margin-left:10px;
                
                
                }
                
                .collection_ct_ti_sub {
                text-align:left;
                
                color:white;
                font-size:18px;
                
                }
                
                            .collection_ct_ds {
                width:100%;
                height:100px;
                margin-top:10px;
                margin-left:10px;
                display:block;
                
                }
                
                .collection_ct_ds_sub {
                text-align:left;
                
                color:white;
                font-size:13px;
                
                }
                
              .open {
              	width:100px;
              padding-top:10px;
              padding-bottom:10px;
              
              color:white;
              border-radius:10px;
              margin-left:75px;
              
              }
                
                .translate {
                	animation:translate 0.5s linear 1;
               }
	         
	        @keyframes translate {
		   0% {
			transform:translate(10px, 10px);
			opacity:0.0;
			}
			
			70% {
				opacity:0.5;
				}
			
			100% {
			transform:translate(0px, 0px);
			opacity:1;
			}
		}
		
		.loader {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 10;
    background-color:white;
    display:none;
    
    
}

.loader_ct {
	         
			position:fixed;
			top:50%;
			left:42%;
			transform:translate(-50%, -50%);
			width:60px;
			height:60px;
			
			animation:rot 1s linear infinite;
		}
		
		@keyframes rot {
			0% {
				transform:rotate(0deg);
				}
				
			100% {
				transform:rotate(360deg);
				}
			
			}
			
		.outro {
					width:100%;
					height:100%;
					position:fixed;
					top:0px;
					left:0px;
					display:none;
					animation:outro 0.3s linear 1;
					}
					
				@keyframes outro {
					0% {
						width:5px;
						height:5px;
						border-radius:90px;
						top:50%;
					    left:50%;
					
						}
						
						100% {
							width:100%;
							height:100%;
							border-radius:0px;
							top:0%;
					        left:0%;
					
							}
					}
